{
  "openapi": "3.1.0",
  "info": {
    "title": "VerdantForged TEE Broker API",
    "version": "0.2.0",
    "summary": "REST API for the VerdantForged TEE broker (eu-west-1).",
    "description": "Submit attested LLM jobs to a TEE-backed worker, poll status, fetch encrypted artifacts, and register new skills. The broker is a cheap always-on control plane (t3.small) that holds the queue, per-job LLM tokens, and Stripe payment lifecycle. The worker (m6a.xlarge, AMD SEV-SNP) is launched on demand and terminated after a configurable idle buffer. The real LLM API key never enters the worker — the worker receives per-job ephemeral tokens and calls the broker's /v1/llm/chat/completions proxy. **Live broker:** https://verdant.codepilots.co.uk",
    "contact": {
      "name": "VerdantForged",
      "url": "https://verdantforged.pages.dev"
    },
    "license": {
      "name": "MIT"
    }
  },
  "servers": [
    {
      "url": "https://verdant.codepilots.co.uk",
      "description": "Live broker (eu-west-1)"
    }
  ],
  "tags": [
    {"name": "Discovery", "description": "Broker advertisement, attestation, skill catalog"},
    {"name": "Jobs", "description": "Submit jobs, poll status, fetch artifacts"},
    {"name": "LLM Proxy", "description": "Worker-only OpenAI-compatible proxy"},
    {"name": "Skills", "description": "Register and discover skills"},
    {"name": "Health", "description": "Health check"}
  ],
  "paths": {
    "/healthz": {
      "get": {
        "tags": ["Health"],
        "summary": "Liveness check",
        "description": "Returns 200 whenever the daemon is responding. Reports whether a worker is currently running (workers are launched on demand and terminated after an idle buffer, so `worker: false` is normal at idle). No auth.",
        "operationId": "healthz",
        "responses": {
          "200": {
            "description": "Broker is alive",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Health"},
                "example": {"ok": true, "worker": false}
              }
            }
          }
        }
      }
    },
    "/v1/discover": {
      "get": {
        "tags": ["Discovery"],
        "summary": "Broker advertisement + attestation block",
        "description": "Returns the broker's region, pricing model, supported skill catalog, and the worker's SEV-SNP attestation report (when populated). The attestation block carries the 1184-byte SEV-SNP report, the cert chain to the AMD root, the enclave's X25519 public key, the chip and family IDs, and the OpenShell policy hash. Callers SHOULD pin `attestation.min_measurement` to detect worker tampering and `attestation.policy_hash` to detect egress-policy widening. No auth.",
        "operationId": "discover",
        "responses": {
          "200": {
            "description": "Broker advertisement",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Discover"}
              }
            }
          }
        }
      }
    },
    "/v1/jobs": {
      "post": {
        "tags": ["Jobs"],
        "summary": "Submit a job",
        "description": "Submits a text or encrypted file job. The one-time `job_access_token` authorizes every subsequent job operation and must be retained by the client; the internal worker LLM token is never exposed. File jobs enter `awaiting_worker`, bind an X25519 input key into verified SEV-SNP report_data, then expose encrypted S3 PUT URLs through authenticated status polling. Idempotent replays do not reissue the access token.",
        "operationId": "submitJob",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/JobSubmit"},
              "example": {
                "client_req_id": "my-unique-id-001",
                "encrypted_skill": "summarize",
                "encrypted_data": "Text to summarize...",
                "requester_sig": "0x",
                "result_pubkey": "BASE64_32BYTE_X25519_PUBKEY",
                "stripe_pi_id": "pi_test_...",
                "input_files": [{"filename": "document.pdf", "content_type": "application/pdf", "size_bytes": 12345}]
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Job accepted and queued",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/JobSubmitResponse"}
              }
            }
          },
          "200": {
            "description": "Idempotent replay (same `client_req_id` already submitted)",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/JobSubmitResponse"}
              }
            }
          },
          "400": {
            "description": "Invalid request body or Stripe PI",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Error"}
              }
            }
          },
          "429": {
            "description": "Per-IP rate limit or daily token cap exceeded",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Error"}
              }
            }
          }
        }
      }
    },
    "/v1/jobs/{job_id}": {
      "get": {
        "tags": ["Jobs"],
        "summary": "Poll job status",
        "description": "Returns the job record. During `awaiting_inputs`, also returns the attestation-bound worker input key and fresh presigned PUT URLs. On completion, result files are encrypted to `result_pubkey` and exposed through authenticated artifact routes.",
        "operationId": "getJob",
        "security": [{"JobAccessToken": []}],
        "parameters": [
          {"name": "job_id", "in": "path", "required": true, "schema": {"type": "string", "pattern": "^job_[a-f0-9]+$"}}
        ],
        "responses": {
          "200": {
            "description": "Job record",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Job"}
              }
            }
          },
          "404": {
            "description": "Job not found",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Error"},
                "example": {"error": "not found"}
              }
            }
          },
          "401": {"description": "Missing or invalid job access token", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}
        }
      }
    },
    "/v1/jobs/{job_id}/ready": {
      "post": {
        "tags": ["Jobs"],
        "summary": "Commit uploaded encrypted inputs",
        "description": "After uploading every ciphertext to its presigned PUT URL, verifies object sizes and the bound worker key, writes the canonical worker envelope, and transitions the job to queued.",
        "operationId": "markJobReady",
        "security": [{"JobAccessToken": []}],
        "parameters": [{"name": "job_id", "in": "path", "required": true, "schema": {"type": "string"}}],
        "responses": {
          "200": {"description": "Inputs verified and job queued"},
          "401": {"description": "Missing or invalid job access token"},
          "409": {"description": "Inputs missing, wrong state, size mismatch, or worker key changed"},
          "410": {"description": "Input upload window expired"}
        }
      }
    },
    "/v1/jobs/{job_id}/artifacts": {
      "get": {
        "tags": ["Jobs"],
        "summary": "List job artifacts",
        "description": "Returns the output manifest with 15-minute presigned download URLs. Files use x25519-hkdf-sha256-chacha20poly1305-v1 and S3 objects expire after 24 hours.",
        "operationId": "getJobArtifacts",
        "security": [{"JobAccessToken": []}],
        "parameters": [
          {"name": "job_id", "in": "path", "required": true, "schema": {"type": "string", "pattern": "^job_[a-f0-9]+$"}}
        ],
        "responses": {
          "200": {
            "description": "Artifact manifest with presigned URLs",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/ArtifactManifest"}
              }
            }
          },
          "404": {
            "description": "Job or artifacts not found",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Error"},
                "example": {"error": "no artifacts"}
              }
            }
          }
        }
      }
    },
    "/v1/jobs/{job_id}/artifacts/{filename}": {
      "get": {
        "tags": ["Jobs"],
        "summary": "Download a single artifact",
        "description": "Returns a 302 redirect to a presigned S3 GET URL. The filename must appear in the signed manifest.",
        "operationId": "getJobArtifactFile",
        "security": [{"JobAccessToken": []}],
        "parameters": [
          {"name": "job_id", "in": "path", "required": true, "schema": {"type": "string", "pattern": "^job_[a-f0-9]+$"}},
          {"name": "filename", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "responses": {
          "302": {
            "description": "Redirect to presigned S3 GET URL",
            "headers": {
              "Location": {"description": "Presigned S3 GET URL", "schema": {"type": "string", "format": "uri"}}
            }
          },
          "400": {"description": "Invalid filename (path traversal attempt)", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}},
          "404": {"description": "Job, artifacts, or filename not in manifest", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}
        }
      }
    },
    "/v1/skills": {
      "get": {
        "tags": ["Skills"],
        "summary": "List registered skills",
        "description": "Returns every distinct skill name with its latest version. Built-in stubs (`code-review`, `summarize`, `photo-glow-up`) are advertised via `/v1/discover` and do NOT appear here unless explicitly registered. No auth.",
        "operationId": "listSkills",
        "responses": {
          "200": {
            "description": "Skill catalog",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["skills"],
                  "properties": {
                    "skills": {"type": "array", "items": {"$ref": "#/components/schemas/Skill"}}
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Skills"],
        "summary": "Register a new skill",
        "description": "Registers a new skill (or a new version of an existing one). Exactly one of `prompt_template` or `wasm_ref` must be provided. Resource limits are bounded above the built-in stubs (default 256 MB / 60 s / 10M fuel) and capped below 4 GB / 600 s / 100M fuel to prevent a compromised publisher from exhausting the broker. **Auth (required):** `Authorization: Bearer <BROKER_SKILLS_API_KEY>`. If the server's key is unset the endpoint returns 503.",
        "operationId": "registerSkill",
        "security": [{"SkillsApiKey": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/SkillManifest"}
            }
          }
        },
        "responses": {
          "201": {
            "description": "Skill registered",
            "headers": {
              "Location": {"description": "Canonical URL for the registered skill", "schema": {"type": "string"}}
            },
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Skill"}
              }
            }
          },
          "400": {"description": "Validation failure", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}},
          "401": {"description": "Missing or invalid Authorization header", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}},
          "409": {"description": "Skill already registered at this version", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}},
          "503": {"description": "Skill registration is disabled (BROKER_SKILLS_API_KEY not configured on server)", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}
        }
      }
    },
    "/v1/skills/{ref}": {
      "get": {
        "tags": ["Skills"],
        "summary": "Get a specific skill",
        "description": "Returns a single skill. `ref` is either `name` (latest version) or `name@version`. No auth.",
        "operationId": "getSkill",
        "parameters": [
          {"name": "ref", "in": "path", "required": true, "schema": {"type": "string"}}
        ],
        "responses": {
          "200": {"description": "Skill record", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Skill"}}}},
          "404": {"description": "Skill not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}
        }
      }
    },
    "/v1/llm/chat/completions": {
      "post": {
        "tags": ["LLM Proxy"],
        "summary": "OpenAI-compatible LLM proxy (worker-only)",
        "description": "Workers call this endpoint with an internal per-job `llm_token` carried only in the worker envelope. The broker validates it, applies account caps, forwards a whitelist-stripped request to the configured upstream, and records usage. This token is never returned to requesters.",
        "operationId": "llmProxy",
        "security": [{"LlmToken": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/ChatCompletionRequest"},
              "example": {
                "model": "ignored-broker-picks-model",
                "messages": [{"role": "user", "content": "Summarize: ..."}],
                "max_tokens": 200
              }
            }
          }
        },
        "responses": {
          "200": {"description": "LLM response (with `_billing` metadata appended)", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ChatCompletionResponse"}}}},
          "400": {"description": "Invalid JSON body", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}},
          "401": {"description": "Missing, invalid, or expired LLM token", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}},
          "429": {"description": "Daily token cap exceeded", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}},
          "502": {"description": "Upstream LLM error", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}
        }
      }
    },
    "/v1/llm/usage/{job_id}": {
      "get": {
        "tags": ["LLM Proxy"],
        "summary": "Get token usage for a job",
        "description": "Returns cumulative LLM usage for a job. Requires the client job-access token.",
        "security": [{"JobAccessToken": []}],
        "operationId": "llmUsage",
        "parameters": [
          {"name": "job_id", "in": "path", "required": true, "schema": {"type": "string", "pattern": "^job_[a-f0-9]+$"}}
        ],
        "responses": {
          "200": {"description": "Token usage record", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/LlmUsage"}}}},
          "404": {"description": "Job not found", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}}
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "SkillsApiKey": {
        "type": "http",
        "scheme": "bearer",
        "description": "Server-side `BROKER_SKILLS_API_KEY`. Used only for `POST /v1/skills`."
      },
      "LlmToken": {
        "type": "http",
        "scheme": "bearer",
        "description": "Internal per-job worker token. It is placed only in the EFS worker envelope and is never returned to clients."
      },
      "JobAccessToken": {
        "type": "http",
        "scheme": "bearer",
        "description": "One-time client credential returned only by the initial successful POST /v1/jobs response. Stored server-side as a SHA-256 digest."
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": ["error"],
        "properties": {
          "error": {"type": "string"},
          "code": {"type": "string", "description": "Stable machine-readable error code (when applicable)."}
        }
      },
      "Health": {
        "type": "object",
        "required": ["ok", "worker"],
        "properties": {
          "ok": {"type": "boolean"},
          "worker": {"type": "boolean", "description": "True when an SEV-SNP worker is currently running."}
        }
      },
      "Discover": {
        "type": "object",
        "required": ["broker_id", "endpoint", "region", "attestation", "pricing", "supported_skills"],
        "properties": {
          "broker_id": {"type": "string", "example": "verdantforged-eu-west-2"},
          "endpoint": {"type": "string", "format": "uri", "example": "https://verdant.codepilots.co.uk"},
          "region": {"type": "string", "example": "eu-west-2"},
          "attestation": {"$ref": "#/components/schemas/Attestation"},
          "pricing": {"$ref": "#/components/schemas/Pricing"},
          "supported_skills": {"type": "array", "items": {"type": "string"}, "example": ["code-review", "summarize", "photo-glow-up"]}
        }
      },
      "Attestation": {
        "type": "object",
        "required": ["tee_type", "min_measurement", "worker_attested", "policy_hash", "fetched_at", "attestation_source"],
        "properties": {
          "tee_type": {"type": "string", "enum": ["amd-sev-snp"]},
          "min_measurement": {"type": "string", "description": "SHA-256 of the worker instance ID (fallback) or the SEV-SNP measurement when available. Pin this to detect worker tampering.", "example": "a299a08dda50e75e9201efce4e117ff6ccda7f2d856b7b7c5edeace147e2b654"},
          "worker_attested": {"type": "boolean"},
          "policy_hash": {"type": "string", "description": "SHA-256 of the OpenShell egress policy YAML. Pin this to detect policy widening (egress destinations allowed for the broker)."},
          "fetched_at": {"type": "string", "format": "date-time"},
          "report": {"type": "string", "description": "Base64 1184-byte SEV-SNP attestation report."},
          "report_data": {"type": "string", "description": "128 hex characters. File workers bind the input-key digest into the first 64 characters."},
          "cert_chain": {"type": "array", "description": "Base64 DER cert chain to AMD root. Empty array when the report is empty.", "items": {"type": "string"}},
          "enclave_pubkey": {"type": "string", "description": "Worker X25519 public key (base64, 32 bytes). Used by clients to encrypt inputs to the enclave. Empty until the worker has emitted its attestation JSON."},
          "worker_ed25519_pubkey": {"type": "string", "description": "Worker Ed25519 public key (base64, 32 bytes). Verifies worker_signature and sandbox.image_digest_sig."},
          "nemoclaw_version": {"type": "string", "description": "NemoClaw version captured by the worker at sandbox onboard time."},
          "nemoclaw_image": {"type": "string", "description": "Docker image reference used by the NemoClaw sandbox."},
          "nemoclaw_image_digest": {"type": "string", "description": "Docker content digest for the NemoClaw image, typically sha256:<64 hex>."},
          "chip_id": {"type": "string"},
          "family_id": {"type": "string"},
          "attestation_source": {"type": "string", "description": "`tsm_configfs` for file-capable attested workers; fallback workers cannot accept encrypted file jobs."}
        }
      },
      "Pricing": {
        "type": "object",
        "required": ["model", "lease_per_15min_usd"],
        "properties": {
          "model": {"type": "string", "enum": ["session-lease"]},
          "lease_per_15min_usd": {"type": "number", "example": 0.20}
        }
      },
      "JobSubmit": {
        "type": "object",
        "required": ["client_req_id", "encrypted_skill", "encrypted_data", "requester_sig", "result_pubkey", "stripe_pi_id"],
        "properties": {
          "client_req_id": {"type": "string", "maxLength": 128, "description": "Caller-chosen idempotency key. Same value on a retry returns the original job."},
          "encrypted_skill": {"type": "string", "description": "Skill name (or registered skill identifier). For registered skills, the broker looks up `wasm_manifest_hash` from the catalog; for built-in stubs it falls back to `sha256(skill_name)`.", "example": "summarize"},
          "encrypted_data": {"type": "string", "description": "Arbitrary opaque input payload (string). Worker treats as plaintext from the enclave perspective."},
          "requester_sig": {"type": "string", "description": "Hex/0x-prefixed Ed25519 signature over `sha256(skill) | sha256(input) | result_pubkey | stripe_pi_id | timestamp`. Pass `\"0x\"` for the demo path; production deployments can set `BROKER_REQUIRE_REQUESTER_SIG=1` to reject unsigned jobs."},
          "requester_pubkey": {"type": "string", "description": "Optional Ed25519 public key (hex/base64). When supplied alongside a non-`\"0x\"` `requester_sig`, the broker verifies the signature."},
          "result_pubkey": {"type": "string", "description": "Base64 32-byte X25519 public key. The worker encrypts the LLM output to this key. Use `\"0x\"` for demo (no encryption)."},
          "stripe_pi_id": {"type": "string", "pattern": "^pi_", "description": "Stripe PaymentIntent ID. Validated against Stripe (status must be `requires_capture` or `succeeded`). In demo mode (no STRIPE_SECRET_KEY), any `pi_*` string is accepted."},
          "timestamp": {"type": "string", "description": "ISO 8601 timestamp used in the requester signature canonical payload."},
          "webhook_url": {"type": "string", "format": "uri", "description": "Optional. When set, the broker POSTs the job result to this URL on finalize. Must be a public HTTPS URL (SSRF blocklist rejects private/loopback/link-local)."},
          "input_files": {"type": "array", "maxItems": 10, "description": "Encrypted file-job declarations. Each file is at most 50 MiB and the aggregate is at most 100 MiB.", "items": {"$ref": "#/components/schemas/InputFile"}}
        }
      },
      "InputFile": {
        "type": "object",
        "required": ["filename", "content_type", "size_bytes"],
        "properties": {
          "filename": {"type": "string", "pattern": "^[A-Za-z0-9_.-]{1,128}$"},
          "content_type": {"type": "string"},
          "size_bytes": {"type": "integer", "minimum": 0, "maximum": 52428800, "description": "Plaintext size; encrypted wire size is this value plus 60 bytes."}
        }
      },
      "InputUpload": {
        "type": "object",
        "description": "Present on authenticated status responses once the bound worker key has verified attestation evidence.",
        "properties": {
          "encryption": {"type": "object", "properties": {"scheme": {"const": "x25519-hkdf-sha256-chacha20poly1305-v1"}, "key_id": {"type": "string"}, "public_key": {"type": "string"}, "aad_template": {"type": "string"}}},
          "attestation": {"type": "object"},
          "expires_at": {"type": "string", "format": "date-time"},
          "ready_url": {"type": "string"},
          "files": {"type": "array", "items": {"type": "object", "properties": {"filename": {"type": "string"}, "size_bytes": {"type": "integer"}, "encrypted_size_bytes": {"type": "integer"}, "upload_url": {"type": "string", "format": "uri"}}}}
        }
      },
      "JobSubmitResponse": {
        "type": "object",
        "required": ["job_id", "state", "idempotent_replay"],
        "properties": {
          "job_id": {"type": "string", "pattern": "^job_[a-f0-9]+$"},
          "state": {"type": "string", "enum": ["awaiting_worker", "awaiting_inputs", "queued", "running", "completed", "failed", "timeout"]},
          "status_url": {"type": "string", "description": "Relative URL to poll for status. Absent on idempotent replay."},
          "job_access_token": {"type": "string", "description": "Returned only once on initial acceptance; never returned on idempotent replay."},
          "idempotent_replay": {"type": "boolean", "description": "True when this response reflects an existing job whose `client_req_id` was already submitted."}
        }
      },
      "Job": {
        "type": "object",
        "required": ["job_id", "state", "created_at"],
        "properties": {
          "job_id": {"type": "string"},
          "state": {"type": "string", "enum": ["awaiting_worker", "awaiting_inputs", "queued", "running", "completed", "failed", "timeout", "awaiting_topup", "abandoned"]},
          "created_at": {"type": "string", "format": "date-time"},
          "started_at": {"type": "string", "format": "date-time", "nullable": true},
          "finished_at": {"type": "string", "format": "date-time", "nullable": true},
          "result": {"$ref": "#/components/schemas/JobResult"},
          "error": {"type": "string", "description": "Failure reason when state is `failed` or `timeout`."},
          "webhook_url": {"type": "string"},
          "webhook_status": {"type": "string", "description": "HTTP status of the last webhook delivery (or `error: <msg>`)."},
          "artifact_count": {"type": "integer"},
          "payment": {"$ref": "#/components/schemas/Payment"},
          "stripe_pi_amount_cents": {"type": "integer", "description": "Original held amount in cents (from the Stripe PaymentIntent)."}
          ,"input_upload": {"$ref": "#/components/schemas/InputUpload"}
        }
      },
      "JobResult": {
        "type": "object",
        "description": "Result envelope returned by the worker. All hashes are 64-char hex SHA-256. The result is signed twice — once by the worker (Ed25519) and once by the broker (Ed25519) — over the canonical `{result_hash, skill_hash, input_hash}` triple.",
        "properties": {
          "job_id": {"type": "string"},
          "skill": {"type": "string"},
          "skill_hash": {"type": "string", "description": "SHA-256 of the skill (registered skill's `wasm_manifest_hash`, or `sha256(skill_name)` for built-in stubs)."},
          "input_hash": {"type": "string"},
          "output": {"type": "string", "description": "Plaintext LLM output. Redacted to `[encrypted — see result_encrypted]` whenever the worker successfully encrypted the result to `result_pubkey`. Set `BROKER_KEEP_PLAINTEXT_FOR_DEMO=1` to keep the plaintext (demo mode only)."},
          "model": {"type": "string"},
          "usage": {"type": "object", "properties": {"prompt_tokens": {"type": "integer"}, "completion_tokens": {"type": "integer"}, "total_tokens": {"type": "integer"}}},
          "fuel_used": {"type": "integer", "description": "Mock fuel counter (1 unit / ms). Replace with WASM fuel metering when WASM execution is wired up."},
          "duration_ms": {"type": "integer"},
          "execution_mode": {"type": "string"},
          "attestation": {"type": "object", "properties": {"tee_type": {"type": "string"}, "measurement": {"type": "string"}}, "description": "Per-job attestation snapshot."},
          "result_pubkey": {"type": "string", "description": "Echoes the requester's X25519 pubkey (or `\"0x\"`)."},
          "result_encrypted": {"type": "string", "description": "Base64 `ephemeral_pubkey_32 || nonce_12 || ciphertext`. Decrypt with ChaCha20-Poly1305 using `X25519(requester_priv, ephemeral_pubkey)` and AAD `verdantforged-result`."},
          "result_pubkey_ephemeral": {"type": "string", "description": "Base64 32-byte worker ephemeral X25519 pubkey (forward-secrecy: ephemeral keypair is discarded after this job)."},
          "result_hash": {"type": "string"},
          "worker_signature": {"type": "string", "description": "Base64 Ed25519 signature over `result_hash | skill_hash | input_hash` using the worker's signing key."},
          "broker_signature": {"type": "string", "description": "Base64 Ed25519 signature over the same payload using the broker's signing key. Authoritative non-repudiation root."},
          "billing": {"type": "object", "description": "Echo of `_billing` from the LLM proxy."},
          "llm_error": {"type": "string", "description": "When the LLM proxy returned 5xx, this is the upstream error string."},
          "artifacts": {"$ref": "#/components/schemas/ArtifactManifest"}
        }
      },
      "Payment": {
        "type": "object",
        "description": "Stripe PaymentIntent outcome. Surfaced on every finalized job so clients can confirm capture/refund without a second Stripe call.",
        "required": ["status", "mode"],
        "properties": {
          "status": {"type": "string", "enum": ["demo_pending", "demo_succeeded", "demo_refunded", "demo_failed", "demo_skipped", "succeeded", "refunded", "failed", "skipped", "canceled"]},
          "mode": {"type": "string", "enum": ["live", "demo"]},
          "amount_cents": {"type": "integer", "description": "Captured amount in cents (succeeded only)."},
          "stripe_id": {"type": "string", "nullable": true, "description": "Stripe transfer/charge ID."},
          "held_amount_cents": {"type": "integer", "description": "Original held amount on the PaymentIntent."}
        }
      },
      "ArtifactManifest": {
        "type": "object",
        "properties": {
          "count": {"type": "integer"},
          "encryption": {"type": "string", "const": "x25519-hkdf-sha256-chacha20poly1305-v1"},
          "ttl_hours": {"type": "integer", "description": "S3 object lifetime (24h via lifecycle rule)."},
          "files": {"type": "array", "items": {"$ref": "#/components/schemas/ArtifactFile"}},
          "primary": {"$ref": "#/components/schemas/ArtifactFile", "description": "The primary LLM output, always attached as the first file."},
          "manifest_url": {"type": "string", "description": "Relative URL to fetch this manifest (same shape, with fresh presigned URLs)."},
          "download_urls": {"type": "object", "additionalProperties": {"type": "string"}, "description": "Map of filename → relative URL. Convenience over iterating `files`."},
          "note": {"type": "string", "description": "Client-facing note explaining how to decrypt and when the URLs expire."}
        }
      },
      "ArtifactFile": {
        "type": "object",
        "required": ["filename", "content_type", "sha256", "size_bytes", "s3_key", "encrypted"],
        "properties": {
          "filename": {"type": "string"},
          "content_type": {"type": "string"},
          "sha256": {"type": "string", "description": "SHA-256 of the plaintext file (before encryption)."},
          "size_bytes": {"type": "integer", "description": "Plaintext size."},
          "s3_key": {"type": "string"},
          "encrypted": {"type": "boolean"},
          "encrypted_size_bytes": {"type": "integer"},
          "download_url": {"type": "string", "format": "uri", "description": "Presigned S3 GET URL (15-min TTL). Only present on `/v1/jobs/{id}/artifacts` responses."}
        }
      },
      "SkillManifest": {
        "type": "object",
        "required": ["name", "description", "wasm_manifest_hash", "entry_point"],
        "properties": {
          "name": {"type": "string", "pattern": "^[a-z0-9][a-z0-9-]{2,63}$", "description": "Lowercase slug, 3-64 chars, no leading/trailing dash."},
          "version": {"type": "string", "pattern": "^[0-9]+\\.[0-9]+\\.[0-9]+$", "default": "0.1.0"},
          "description": {"type": "string", "minLength": 1, "maxLength": 512},
          "wasm_manifest_hash": {"type": "string", "pattern": "^[0-9a-fA-F]{64}$", "description": "SHA-256 of the WASM binary."},
          "entry_point": {"type": "string", "pattern": "^[A-Za-z0-9_.]{1,128}$"},
          "prompt_template": {"type": "string", "maxLength": 32768, "description": "Provide exactly one of `prompt_template` or `wasm_ref`."},
          "wasm_ref": {"type": "object", "description": "Provide exactly one of `prompt_template` or `wasm_ref`.", "required": ["uri", "size_bytes"], "properties": {"uri": {"type": "string", "maxLength": 512}, "size_bytes": {"type": "integer", "minimum": 1, "maximum": 52428800}}},
          "resource_limits": {"type": "object", "properties": {
            "max_fuel": {"type": "integer", "minimum": 1, "maximum": 100000000, "default": 10000000},
            "max_duration_ms": {"type": "integer", "minimum": 100, "maximum": 600000, "default": 60000},
            "max_memory_mb": {"type": "integer", "minimum": 1, "maximum": 4096, "default": 256}
          }},
          "input_schema": {"type": "object"},
          "output_schema": {"type": "object"}
        }
      },
      "Skill": {"$ref": "#/components/schemas/SkillManifest"},
      "ChatCompletionRequest": {
        "type": "object",
        "description": "OpenAI-compatible request. The broker whitelists exactly `model`, `messages`, `max_tokens` (capped at 100000), and `stream` (forced to false). All other fields are stripped.",
        "required": ["messages"],
        "properties": {
          "model": {"type": "string", "description": "Ignored — the broker always uses its configured model."},
          "messages": {"type": "array", "items": {"type": "object", "required": ["role", "content"], "properties": {"role": {"type": "string", "enum": ["system", "user", "assistant"]}, "content": {"type": "string"}}}},
          "max_tokens": {"type": "integer", "minimum": 1, "maximum": 100000, "default": 4096},
          "stream": {"type": "boolean", "default": false, "description": "Forced to `false` by the broker."}
        }
      },
      "ChatCompletionResponse": {
        "type": "object",
        "description": "OpenAI-compatible chat completion response, plus a `_billing` metadata block appended by the broker.",
        "properties": {
          "id": {"type": "string"},
          "object": {"type": "string"},
          "created": {"type": "integer"},
          "model": {"type": "string"},
          "choices": {"type": "array", "items": {"type": "object"}},
          "usage": {"type": "object", "properties": {"prompt_tokens": {"type": "integer"}, "completion_tokens": {"type": "integer"}, "total_tokens": {"type": "integer"}}},
          "_billing": {"type": "object", "properties": {
            "job_id": {"type": "string"},
            "account": {"type": "string", "description": "Hashed account identifier (sha256(stripe_pi_id + BROKER_ACCOUNT_HASH_SECRET)[:16])."},
            "prompt_tokens": {"type": "integer"},
            "completion_tokens": {"type": "integer"},
            "total_tokens": {"type": "integer"},
            "demo_cap": {"type": "integer"}
          }}
        }
      },
      "LlmUsage": {
        "type": "object",
        "required": ["job_id", "llm_tokens_used", "llm_calls"],
        "properties": {
          "job_id": {"type": "string"},
          "llm_tokens_used": {"type": "integer", "description": "Cumulative total tokens used across all worker LLM proxy calls during this job."},
          "llm_calls": {"type": "integer"}
        }
      }
    }
  }
}
